.users{
    justify-self: center;
}

.users h2{
    padding-top: 20px;
}

.users p{
    display: inline;
}

.user{
    padding-top: 20px;
}

.userTable {
    display: flex;
    justify-content: center;    
    align-items: center;   
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 80%;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
}