*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
}

.titleSection{
    grid-area: header;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.titleSection h1{
    color: rgb(0, 0, 0);
}

.titleSection h2{
    margin-left: 20px;
}


.sideMenu{
    grid-area: sidebar;
    background-color: rgb(143, 101, 45);
    padding: 20px;
    z-index: 10;
}

.sideMenu a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    transition: background 0.3s;
}

.sideMenu a:hover{
    color: rgb(196, 196, 196);
    transition: color 0.2s ease 0.2s;
}


/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    body {
        /* On mobile, stack them vertically */
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "sidebar"
            "main";
    }

    .sideMenu {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .sideMenu a {
        margin-bottom: 0;
    }
}