<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/admin.css') }}">
</head>

<body>

    <div class="titleSection">
        <h1>Admin</h1>
        <h2>{{ date }}</h2>
    </div>

    <section class="sideMenu">
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/animals">Animals</a>
            <a href="/register">Register</a>
            {% if session["role"] == "admin" %}
            <a href="/admin">Admin</a>
            {% endif %}
        </div>
    </section>

    <section class="users">

        <h2>Create User</h2>
        <h3>Users: {{ user_count }}</h3>

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

        {% if success %}
        <p>{{ success }}</p>
        {% endif %}

        <form action="/admin" method="post">

            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <select name="role">
                <option value="admin">Admin</option>
                <option value="worker">Worker</option>
            </select>
            <button>Create User</button>

        </form>


        <section>
            <h2>Users</h2>
            <h3>Current Users: {{ user_count }}</h3>

            {% for user in all_users %}
            <div class="user">
                <p>Id: {{ user['id'] }}</p>
                <p>Name: {{ user['name'] }}</p>
            </div>
            {% endfor %}
        </section>
    </section>

</body>

</html>