<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/admin.css') }}">
</head>
<body>

    <div class="titleSection">
        <h1>Admin</h1>
        <h2>{{ date }}</h2>
    </div>

    <section class="sideMenu">
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/animals">Animals</a>
            <a href="/register">Register</a>
        </div>
    </section>

    <section>
        <h2>Create User</h2>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        {% if success %}
            <p>{{ success }}</p>
        {% endif %}
        
        <form action="/admin" method="post">

            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button>Create User</button>

        </form>
    </section>

    <section class="users">
        <h2>Users</h2>

        {% for user in all_users %}
        <div class="user">
        <p>Id: {{ user['id'] }}</p>
        <p>Name: {{ user['name'] }}</p>
        <p>Password: {{ user['password']}}</p>
        </div>
        {% endfor %}
    </section>
</body>
</html>