<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
</head>

<body>

    <div class="titleSection">
        <h1>Alerts</h1>
        <h2>{{ date }}</h2>
    </div>

    <section class="sideMenu">
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/animals">Animals</a>
            {% if session["permissions"] == "read-&-write" or session["permissions"] == "admin" %}
            <a href="/register">Register</a>
            {% endif %}
            {% if session["permissions"] == "admin" %}
            <a href="/admin">Admin</a>
            {% endif %}
        </div>
    </section>
</body>

</html>