<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/animals.css') }}">
</head>
<body>

    <div class="titleSection">
        <h1>Animals</h1>
        <h2>{{ date }}</h2>
    </div>

    <section class="sideMenu">
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/animals">Animals</a>
            <a href="/register">Register</a>
        </div>
    </section>

    <section class="animalTable">


        <table>
            <tr>
                <td>Tag</td>
                <td>Arrival Day</td>
                <td>Race</td>
                <td>Sex</td>
                <td>Birth day</td>
                <td>Weight</td>
                <td>Status</td>
            </tr>

            {% for animal in animal_list %}

            <tr>
                <td>{{ animal['tag'] }}</td>
                <td>{{ animal['arrival_day'] }}</td>
                <td>{{ animal['race'] }}</td>
                <td>{{ animal['sex'] }}</td>
                <td>{{ animal['birth_day'] }}</td>
                <td>{{ animal['weight'] }}</td>
                <td>
                    <span class="status 
                        {% if animal['health_status'] == 'Lack of info to return status' %}
                            no-info
                        {% else %}
                            {{ animal['health_status'] }}
                        {% endif %}
                    ">
                        {{ animal['health_status'].capitalize() }}
                    </span>
                </td>
                <td>
                    <form action="/delete" method="post">
                        <input type="hidden" name="animal_id" value="{{ animal['id'] }}">
                        <button class="deleteConfirmBtn" type="submit">X - Excluir</button>
                    </form>

                    <button class="editBtn">Edit</button>


                    <form class="editForm" style="display: none;" action="/edit" method="post">
                        <input type="hidden" name="animal_id" value="{{ animal['id'] }}">
                        <input type="number" name="weight" step="0.01" placeholder="New weight">
                        <button class="editConfirmBtn" type="submit">Confirm</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    
</body>
</html>

<script src="{{ url_for('static', filename='js/animals.js') }}"></script>