<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
</head>

<body>

    <div class="titleSection">
        <h1>Dashboard</h1>
        <h2>{{ date }}</h2>
    </div>

    <section class="sideMenu">
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/animals">Animals</a>
            {% if session["permissions"] == "read-&-write" or session["permissions"] == "admin" %}
            <a href="/register">Register</a>
            {% endif %}
            {% if session["permissions"] == "admin" %}
            <a href="/admin">Admin</a>
            {% endif %}
        </div>
    </section>

    <section class="dashboard">
        <div class="card">
            <h2>Total Herd</h2>
            <p>{{ total_herd }}</p>
        </div>

        <div class="card" id="cardAnimalsRequiringAttention">
            <h2>Animals Requiring Attention</h2>
            <p>{{ attention_count }} Attention</p>
            <p>{{ critical_count }} Critical</p>


            <ul id="animalsRequiringAttentionList" style="display: none;">
                <h3>Animals Requiring Attention:</h3>
                {% for animal in attention_animals %}
                <li>
                    <p>{{ animal }} - Attention</p>
                </li>
                {% endfor %}

                {% for animal in critical_animals %}
                <li>
                    <p>{{ animal }} - Critical</p>
                </li>
                {% endfor %}
            </ul>


        </div>

        <div class="card">
            <h2>Missing Health Updates</h2>
            <p>{{ missing_health_updates }}</p>
        </div>

        <div class="card">
            <h2>Recent Alerts</h2>
            <p>{{ recent_alerts }}</p>
        </div>
    </section>
</body>

</html>

<script src="/static/js/dashboard.js"></script>