<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livestock Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
</head>
<body>
    <section class="welcome">
        <h1>Livestock Management</h1>
        <h2>Welcome!</h2>
    </section>

    <section class="login">

            {% if error %}
                <p>{{ error }}</p>
            {% endif %}

            <form method="POST">

                <input name="username" type="text" placeholder="Username">

                <br>

                <input name="password" type="password" placeholder="Password">

                <br>

                <button type="submit">
                    Log in
                </button>

            </form>
    </section>


    <section class="titleSection" style="display: none;">
        <h1>Livestock Management</h1>

        <h2>Dashboard</h2>
    </section>

    <section class="dashboard">
    
        


    </section>



</body>
</html>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>